body {
    margin: 0;
    background-color: #6b5b95;
}

.form {
    position: sticky;
    z-index: 100;
    width: 90%; /* Adjust the width for smaller screens */
    max-width: 600px; /* Set a maximum width for larger screens */
    background-color: #d64161;
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto; /* Center the form horizontally */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: fit-content; /* Adjust the width for smaller screens */
    max-width: 600px; /* Set a maximum width for larger screens */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto; /* Center the logo horizontally */
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: none;
    opacity: 0.45; /* Adjust opacity for better visibility on different backgrounds */
    border-style: none;
    transition: all 650ms;
}

.logo:hover {
    opacity: 1; /* Change opacity to 1 on hover */
    cursor: pointer;
    background-color: black;
    color: white;
}

.form textarea,
.form input {
    outline: none;
    padding: 7px;
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    width: 100%; /* Make text input and textarea responsive */
    box-sizing: border-box; /* Include padding and border in the width */
}

.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the quotes horizontally */
}

.container .quote {
    background-color: #d14462;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    max-width: 400px; /* Set a maximum width for larger screens */
    width: 90%; /* Adjust the width for smaller screens */
    color: white;
    filter: drop-shadow(5px 5px 10px black);
}

.container .quote h3,
.container .quote p {
    text-align: center; /* Center text in quotes */
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}
